/* This is a CSS reset that sets margin, padding and box-sizing to avoid inconsistencies across different browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This is a simple CSS rule that selects the body element and sets its font-family */
body {
  font-family: Arial, sans-serif;
}

/* Styling for the header */
header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  width: 100%;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}

section {
  margin: 20px;
}

/* This rule selects the nav element and gives it a background color */
nav {
  background-color: #e0e0e0;
}

/* This rule selects ul elements within the nav element and styles the list */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

/* This rule selects li elements within the nav ul and styles the list items */
nav ul li {
  margin: 0 15px;
}

/* This rule selects a elements within the nav ul li and styles the links */
nav ul li a {
  text-decoration: none;
  color: black;
}

/* Styling for the main content and footer */
main,
footer {
  padding: 20px;
}

p {
  margin-top: 5px;
}
form {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}

form input {
  margin: 10px;
}

/* etc. */
